body {
  background-color: lightgray;
}

.container {
  border: 1px solid black;
  width: 80%;
}

.container-fluid {
  border: 1px solid rgb(255, 0, 0);
  width: 95%;
}

.aueb-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(116, 96, 68);
} 

/* Background Colors */
.bg-primary {
  background-color: blue;
}

.bg-dark {
  background-color: black;
}

.bg-aquamarine {
  background-color: aquamarine;
}


/* Font Colors */
.text-white {
  color: white;
}

.text-beige {
  color: beige;
}

.text-be  

/* Image Styling */
.icon-small {
  width: 150px;
  height: auto;
}

/* List Styling
.courses-wrapper {
background-color: aquamarine
} */

.course-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: yellow;  
}

/* Selectors */
ul > :first-child {
  background-color: rgb(63, 63, 59);
  font-weight: bold;  
}

ul > :nth-child(3) {
  background-color: green;
  font-weight: bold     ;
}

ul :nth-child(odd) {
  text-decoration: underline;
}

ul :nth-child(even) {
  text-decoration: line-through;
}

.container > h2:first-of-type {
  font-size: 2rem;
}

.container > p:nth-of-type(2) {
  font-size: 2rem;
}