body {
  background-color:beige;
}

p, li {
  color: rgb(193, 54, 54);
  background-color: pink;
}

li {
  list-style-type: square;
}

.aueb-text {
  color: black;
  background-color: aqua;
}

.aueb-logo {
  width: 800px;
}

img.aueb-logo {
  border: 3px solid black;
  height: auto;
}

p.aueb-logo {
  border: 2px solid blue;
}

#auebText {
  border: 4px solid red;
}

ul > li {
  color: blue;
}

ul strong {
  background-color: aqua;
} 

ul em {
  background-color: red;
}

ul {
  background-color: blueviolet;
}

li {
  background-color: blueviolet;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: green
}

a:focus {
  outline: none;
  color: red;
}

a:hover {
  background-color: white;
}

/* Styling for Navbar */
a:active {
  background-color: orange;
  color: white;
}
