.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 20px;
}

.grid-item-1 {
  background-color: green;
  /* grid-column: 1/3;          First way  */

  /* grid-column-start: 1;
     grid-column-end: 3;        Second way */

    grid-column-start: 1;
    grid-column-end: span 2;  /*Third way  */

}

div[class^="grid"] {
  border: 1px solid red;
}