.container-fluid {
  background-color: cornflowerblue;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px 0px;
  text-align: center;
}

.container {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 1.2em;
}

.text-grey {
  color: #bcbdbd;
}

input[type='email'],
input[type='password'] {
  width: 75%;
  height: 40px;
  padding-left: 15px;
  border-width: 0;
  background-color: #F4F4F4;
  border-radius: 5px;
}